<% flash.each do |key, value| %>
  <%= content_tag :div, class: "alert alert-#{key}" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="fas fa-times-circle"></i>
      </span>
    </button>
    <%= value %>
  <% end %>
<% end %>